h1 {
    background-color: red;
    color: yellow;
    text-align: center;
}

ul {
    background-color: yellow;
}

h3 {
    background-color: red;
    font-weight: 900;
    font-size: x-large;
}

ol {
    background-color: yellow;
}

img {
    width: 500px;
    height: auto;
}